frontEnd/tgs-app/node_modules/**/*
frontEnd/tgs-app/.expo/*
frontEnd/tgs-app/npm-debug.*
frontEnd/tgs-app/*.jks
frontEnd/tgs-app/*.p8
frontEnd/tgs-app/*.p12
frontEnd/tgs-app/*.key
frontEnd/tgs-app/*.mobileprovision
frontEnd/tgs-app/*.orig.*
frontEnd/tgs-app/web-build/
frontEnd/tgs-app/web-report/

# macOS
frontEnd/tgs-app/.DS_Store

server/node_modules/**/*